:root{
    font-size: $font-homepage-size;
}

body{
    font-family: $font;
    color: $very-dark-blue-2;
    background-color: $very-light-gray;
}

* {
    box-sizing: border-box;
}

a, input{
    text-decoration: none;
    color: $very-dark-blue-2;
}

.element{
    background-color: $white;
}