:root{
    font-size: $font-homepage-size;
}

body{
    font-family: $font;
    color: $very-dark-blue-2;
    background-color: $very-light-gray;
}

* {
    box-sizing: border-box;
}

.display-none{
    display: none;
}

a, input, button.filter-input__button{
    text-decoration: none;
    color: $very-dark-blue-2;
}

.element{
    background-color: $white;
}

@mixin box-shadow{
    -webkit-box-shadow: 0px 0px 10px 0 $dark-gray;
    -moz-box-shadow: 0px 0px 10px 0 $dark-gray;
    box-shadow: 0px 0px 10px 0 $dark-gray;
}

@mixin box-shadow-darkmode{
    -webkit-box-shadow: 0px 0px 10px 0 $very-dark-blue-2;
    -moz-box-shadow: 0px 0px 10px 0 $very-dark-blue-2;
    box-shadow: 0px 0px 10px 0 $very-dark-blue-2;
}