.filter-input__container{
    position: relative;

    @include box-shadow;
}

button.filter-input__button{
    padding: 25px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;

    @media (min-width: 700px) {
        min-width: 100px;
        text-align: center;
        width: auto;
    }
}

.filter-input__container, .filter-input__button, .filter-input__radios{
    border-radius: 5px;
}


.filter-input__radios{
    position: absolute;
    z-index: 2;
    top: 80px;
    width: 100%;

    @include box-shadow;

    *{
        display: block;
    }

    label{
        cursor: pointer;
        padding: 10px 15px;
        font-weight: 600;
    }
}

input[type="radio"]{
    appearance: none;
}

.filterIcon{
    font-size: 1.2rem;
    padding-left: 10px;
}