.search-input__container{
    border-radius: 5px;
    display: inline-block;

    @include box-shadow;
}

.search-input__icon{
    display: inline-block;
    padding-inline: 30px 10px;
    font-size: 1.2rem;
}

.search-input__input{
    border: none;
    width: 350px;
    padding: 25px 10px;
    border-radius: 5px;
}

.search-input__icon,.search-input__input{
    color: $dark-gray;
}