.darkmode{
    background-color: $very-dark-blue-1;
    color: $white;

    a, input, .search-input__icon, button.filter-input__button{
        color: $white;
    }

    .header{
        background-color: $dark-blue;
    
        -webkit-box-shadow: 0px 5px 15px  $very-dark-blue-2;
        -moz-box-shadow: 0px 5px 15px $very-dark-blue-2;
        box-shadow: 0px 5px 15px  $very-dark-blue-2;
    }

    .element{
        background-color: $dark-blue;
    }

    .darkmode-switch{
        color: $white;
    }

    .moon--regular{
        display: none;
    }

    .moon--solid{
        display: block;
    }

    .country-box, .search-input__container, .filter-input__radios, .filter-input__container, .details__button, .details__flag{
        @include box-shadow-darkmode
    }
}
