.details{
    padding: 40px 30px;

    @media(min-width: 750px){
        padding: 60px 80px;
    }
}

.details__button{
    padding: 10px 30px;
    border-radius: 5px;

    svg{
        padding-right: 10px;
    }

    @include box-shadow;
}

.details__container{
    margin-top: 80px;
    display: flex;
    flex-direction: column;

    figure{
        width: 100%;
        height: auto;
    }

    @media(min-width: 750px){
        figure{
            width: 70%;
        }
    }

    @media(min-width: 1150px){
        flex-direction: row;

        figure{
            width: 650px;
            height: 450px;
        }
    }

}

.details__flag{
    width: 100%;
    height: auto;

    @include box-shadow;
}

.details__description{
    @media(min-width: 1150px){
        padding-left: 80px;
    }

    @media(min-width: 1450px){
        padding-top: 50px;
    }
}

.description__columns{
    display: flex;
    flex-direction: column;
    gap: 100px;

    p{
        display: flex;
        align-items: center;
        text-align: left;
        font-size: 1rem;
        font-weight: 300;
        padding-block: 10px;

        span{
            font-weight: 600;
            padding-right: 10px;
        }
    }

    @media(min-width: 750px){
        flex-direction: row;
    }
}

.details__title{
    font-size: 2rem;
    font-weight: 800;
    padding-block: 30px 20px;

    @media(min-width: 1150px){
        padding-block: 0 40px;
    }
}

.details__border-countries{
    padding-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.button--countries{
    border-radius: 0;
}